
- if @has_data
  .container.col-lg-12
    .row{style:"margin-bottom:50px;"}
      %h1.text-center Available Tools 
    .row
      %div.col-lg-1
        = image_tag 'google-pin.jpg', {style:"height:95px;"}
      .well.col-lg-3.text-center
        %h3
          = link_to "Visits by Duration", vis_min_path
      .well.col-lg-8
        %h3 Show me the places I spend a lot of my time.
    .row
      %div.col-lg-1
        = image_tag 'google-pin.jpg', {style:"height:95px;"}
      .well.col-lg-3.text-center
        %h3
          = link_to "Visits by Count", vis_count_path
      .well.col-lg-8
        %h3 Show me the places I visit frequently. 
  
- else
  .container
    .row
      %p You don't appear to have any data. Try to connect to evernote again and import some data.
      %p
        = link_to "Connect to Evernote", user_setup_path
