
%h1 Visits for #{@location.name} ( #{@visits.count} )
.well.col-lg-6
  %h4 Address : #{@location.address}
  %h4 Latitude : #{@location.latitude}
  %h4 Longitude : #{@location.longitude}
.well.col-lg-6
  %div.col-lg-8#map-canvas{style:"border:1px dashed black; width:maximum; height:300px"}

%table.table.tbl.tbl-striped
  %thead
    %tr
      %th Visit Date
      %th Visit Duration
      %th Rewritten To
      %th Rewrite to 
  %tbody
  - @visits.each do |visit|
    %tr
      %td
        = visit.enote.title.slice(12,50)
      %td
        = visit.duration
      %td
        - if (visit.location_id != nil)
          = visit.location.name
          = link_to "(-) Remove", "#", class:"remove_location", id:"remove_location#{visit.id}"
      %td
        = select_tag "locations#{visit.id}", options_from_collection_for_select(@locations, "id", "name"), include_blank: true, class: "locations"
        = link_to "(+) Add", "#", class: "add_location", id:"add_location#{visit.id}"


=render partial: "shared/newlocation"

:javascript
  $(function () {
    
    var myLatlng = new google.maps.LatLng(33.836944, -84.355795);
    var myOptions = {
      zoom: 11,
      center: myLatlng
    };
    
    map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
    
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Hello World!'
    });
    
    $('.locations').bind('change', function(e) { 
      var vid = (e.target.id).substring(9,50)
      console.log(vid);
      var location_id = $('#locations' + vid).val()
      console.log(location_id);
      $.post("/rewrite_visit", { visit_id: vid, loc_id: location_id });
      location.reload();
    });

    $('.add_location').bind('click', function(e) {
      $('#newlocation-modal').modal('show');
      console.log(e.target.id);
    });

    $('.remove_location').bind('click', function(e) {
      var vid = (e.target.id).substring(15,50)
      console.log(vid);
      $.post("/visit_location_remove", { id: vid });
      location.reload();
    });


    $('#save_location').bind('click', function(e) {
      var new_name = $('#newname').val()
      var new_address = $('#newaddress').val()
      $.post("/new_location", { name: new_name, address: new_address });
      $('#newlocation-modal').modal('hide');
      location.reload();
    });

  });
