.container
  .row
    %div.col-lg-12{style:"margin:150px 0px 25px 0px;"}
      .row{style:"margin:50px 0px 25px 0px;"}
        %div.col-lg-12
          %div.col-lg-3 
          %div.col-lg-6.text-center{style:"margin:20px 0px 25px 0px;"}
            %h1 Log in
            = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              %div
                = f.label :email
                %br/
                = f.email_field :email, autofocus: true
              %div
                = f.label :password
                %br/
                = f.password_field :password, autocomplete: "off"
              - if devise_mapping.rememberable?
                %div
                  = f.check_box :remember_me
                  = f.label :remember_me
              %div
                = f.submit "Log in", {class: "button btn btn-default btn-primary;"}
            -#= render "devise/shared/links"
          %div.col-lg-3
